# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db